*{
  box-sizing: border-box;
}

body{
  padding: px;
  font-family: courier;
  font-size: 10px;

}

.nav{
background-color: rgb(105,183,200);
height: 12vh;
}

nav ol li{
  float:left;
  margin: 10px;
  line-height: 25px;
  justify-content: space-between;
  list-style-type:none;
  color: white;

}

.menu{
  display: inline-block;
  float: left;
  justify-content: space-between;
}

.main{
  background-color: white;
}

.carrusel{
display: flex;
justify-content: center;
padding-right: 100px;
padding-left: 100px;
}

h2{
    font-size: 3.5vh;
    text-align: center;
    margin-bottom: 18%;
    width: 100%;
    color: #565656
}

.descripcion{
    text-align: justify;
    font-size: 2.3vh;
    padding-left: 5%;
    padding-right: 5%;
    color: #565656;
}

#nosotros{
  background-color: #d3d3d3;
  height:35vh;
  width: 50%;
  display: flex;
 justify-content: center;
 order: 1;
}

.contenedor_nosotros{
  background-color: #d3d3d3;
  height:35%;
  width: 50%;
  display: flex;
  justify-content:center;
  position: relative;
  left: 50%;
}


#productos{
  background-color: rgb(105,183,200);
  height:35vh;
  width: 50%;
  display: flex;
 justify-content: center;
 order: 1;
 position: relative;
 left: 50%;
}

.contenedor_productos{
  background-color: #d3d3d3;
  height:35vh;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  order: 2;
  align-items: center;
  position: absolute;
  top:87%;
}

.foto_cocina{
  order: 1;
}

.foto_pisos{
  order: 2;
}

.foto_limpiadores{
  order: 3;
}

.foto_lavanderia{
  order: 4;
}

#horarios{
  background-color: #d3d3d3;
  height:35vh;
  width: 50%;
  display: flex;
 justify-content: center;
}

#ubicacion{
  background-color: #d3d3d3;
  height:35vh;
  width: 50%;
  justify-content: center;
  position: relative;
  left: 50%;

}

#contacto{

 justify-content: center;

}

footer{
  text-align: center;

}

.container{
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
